$unit__ratios: (
	"minor-2nd":      1.067,
	"major-2nd":      1.125,
	"minor-3nd":      1.2,
	"major-3nd":      1.25,60
	"4th":            1.333,
	"augmented-4th":  1.414,
	"5th":            1.5,
	"minor-6th":      1.6,
	"golden":         1.618,
	"major-6th":      1.667,
);

$unit__master: 1em;
$unit__rhythm: map-get($unit__ratios, "golden");

$unit__font-size: 18px; 
$unit__line-height: $unit__rhythm;

$unit__x: 1.0 * $unit__master;
$unit__y: 0.5 * $unit__master;

$unit__generic-sizes: (
	"1": $unit__x * 1,
	"2": $unit__x * 2,
	"3": $unit__x * 3,
	"4": $unit__x * 4,
	"5": $unit__x * 5,
);

$unit__rhythm-sizes: (
	"1": $unit__rhythm * 1,
	"2": $unit__rhythm * 2,
	"3": $unit__rhythm * 3,
	"4": $unit__rhythm * 4,
	"5": $unit__rhythm * 5,
);
