//
//	Var
$h5: $unit__master;
$h6: $h5 / $unit__rhythm;
$h4: $h5 * $unit__rhythm;
$h3: $h4 * $unit__rhythm;
$h2: $h3 * $unit__rhythm;
$h1: $h2 * $unit__rhythm;

//
//	Base
@include font-face($font__lato);

html {
	font-size: pxtopercentage($unit__font-size);
}

body {
	font-family: "Lato-Regular";
	line-height: $unit__line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato-Bold";
	line-height: 1.1;
	margin-bottom: rhythm(1, 1rem);
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

h6 {
	font-size: $h6;
}

p {
	margin-bottom: rhythm(1);
}
