@mixin visible() {
	[class*="visible-"] {
		display: none;
	}
	@each $key, $value in $breakpoints {

		$min: map-get($value, "min");
		$max: map-get($value, "max");

		@media (min-width: $min) and (max-width: $max) {
			.visible-inline-#{$key} {
				display: inline;
			}
			.visible-inline-block-#{$key} {
				display: inline-block;
			}
			.visible-block-#{$key} {
				display: block;
			}
		}
	}
}

@include visible();
