//
//	Var
$grid__gutter:   $unit__x;
$grid__columns:  12;

//
//	Base
.container {
	max-width: 30em;
	margin: 0 auto;
}

.row {
	margin: 0 negative($grid__gutter);
	@include clearfix;
}

[class*="col"] {
	display: block;
	float: left;
	padding: 0 $grid__gutter;
	width: 100%;
}

@include grid__columns($grid__columns);
